
<div class="card" style="width: 18rem;">
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <h5 class="card-header">No session.</h5>
  <div class="card-body">
    <form id="create-button">
    <p>There is no active session.</p>
      {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
      <button type="submit" class="btn btn-primary">Create Session</button>
    </form>
  </div>
</div>

<script src="javascript/createsession.js"></script>